@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=monserrat:300,400,500,700&display=swap");
html, body{
    background: #253141;
    font-family: "monserrat" , sans-serif;
    background-image: linear-gradient(
        to bottom, rgba(37, 49, 65, 0),0%,
        #253141 50%,
        #253141 100%),
     url("https://assets.nintendo.com/image/upload/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_1.5/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_1.5/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_1.5/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_1.5/c_scale,w_400/ncom/software/switch/70010000024591/177a72a1fb18f3a5c143412ad1432aa6997d23ca1415f3d3fa58c1252a171b41");
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari17+ */     
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
}
header {
    display: flex;
    justify-content: space-between;
    padding:30px;
}
header .left-menu {
    display: flex;
}
header .left-menu .logo {
    font-size: 2rem;
    color: white;
    font-weight: 700;
}
header .left-menu .menu {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 50px;
}
header .left-menu .menu a {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase ;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
 }
 header .left-menu .menu a:hover {
    color: rgba(255,255,255,1);
   
 }
header .right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .right-menu .language {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    padding: 0 40px;
    text-transform: uppercase ;
    font-weight: 300;
}
header .right-menu .Signin{
    background:#0375d5 ;
    border-radius: 4px;
    padding:10px 20px;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.title{
    font-size: 1.8rem;
    color: white;
    margin-bottom:30px ;
}
#featured{
      padding: 50px 0 50px;
}
#featured .Video-section{
    display: grid;
    grid-template-columns: 1fr 2fr 620px 2fr 1fr;
    grid-gap: 10px;
}
#featured .Video-section .Video{
    display:flex;
    justify-content: center;
    align-items: center;
}
#featured .Video-section .Video .image{
    width: 100%; ;
    height: 300px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxdf09nFI4_Ce9eaAk3nD4ZpYTF7mfgS6Uzg&s");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
#featured .Video-section .Video.center{
    width: 100%; ;
    height: 349px;
    background: red;
}
#featured .Video-section .Video.center .image{
    width: 100%; ;
    height: 349px;
    background: url("https://play-lh.googleusercontent.com/HhfOrxuyun9RO_bcGM-gZfHATKt3o3GAy1Ufje9bPel7CbvNTby57BaZCzSATNXTnQ=w526-h296-rw");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.05);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    border:2px solid  #00b4f0;
}
#featured .Video-section .Video:nth-child(1) .image, 
#featured .Video-section .Video:nth-child(5) .image{
    position: relative;
}
#featured .Video-section .Video:nth-child(1) .image .arrow{
    position: absolute;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content:center;
    align-items: center; 
    height: 100%;
    padding: 10px;
}
#featured .Video-section .Video:nth-child(1) .image 
.arrow .bi,
#featured .Video-section .Video:nth-child(5) .image 
.arrow .bi{
    font-size: 4rem;
    color: #0375d5;
}
#featured .Video-section .Video:nth-child(5) .image .arrow{
    position: absolute;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content:center;
    align-items: center; 
    height: 100%;
    padding: 10px;
    right: 0;
}
#featured .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#featured .dots .Circles {
    display: flex;
    justify-content: center;
    align-items: center;
}
#featured .dots .Circles .circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 10px;
    background: white;
}
#featured .dots .Circles .circle-active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}
#top-games{
}
#top-games .games{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
#top-games .games .game{
    background: url("https://media.contentapi.ea.com/content/dam/apex-legends/common/articles/apex-legends-mobile-faq/common/apex-mobile-announce-art-3840x2160.jpg.adapt.crop16x9.575p.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.45);
    box-shadow:0px 5px 5px 0px rgba(0,0,0,0.45);
    overflow:hidden;
    cursor: pointer;
}
#top-games .game .info {
    background: #253041;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10%;
    color: white;
}
#top-games .game:hover .info{
    background: #313f55;
}
#top-games .game .info .gamename {
    font-weight: 600;
    margin-bottom: 10px;
}
#top-games .game .info .views{
    font-weight: 300;
    color: #8c919d;
    font-size: 0.9rem;
}
